{% extends 'admin_base.html'%}
{% import "macros.html" as macros %}
{%block title%} Admin- Resident Profile {%endblock%}
{%block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{{url_for('static', filename='plugins/fontawesome-free/css/all.min.css')}}">
<!-- Theme style -->
<link rel="stylesheet" href="{{url_for('static' , filename='dist/css/adminlte.min.css')}}">
<!-- Google Font: Source Sans Pro -->
{%endblock%}
<!-- Main content -->

{%block main_content %}

<!-- Main content -->

<section class="content">
    <!-- Default box -->
    <h1 class="">Resident Profile</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <a type="button" class="btn btn-tool" title="Edit"
                                href="{{url_for('.edit_resident', resident_id =resident.id)}}">
                                <i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <form action="{{url_for('.change_resident_photo', resident_id =resident.id)}}" method="POST"
                                id="picForm" enctype="multipart/form-data">
                                <input type="file" name="new_photo" id="new_photo"
                                    onchange="document.getElementById('picForm').submit()" accept=".jpg,.jpeg, .png"
                                    hidden>
                            </form>
                            {%if user.is_administrator()%}
                            <a href="#" title="Change Photo" class="aa-img"
                                onclick="document.getElementById('new_photo').click()">
                                {%else%}
                                <a href="#" title="Photo" class="aa-img">
                                    {%endif%}
                                    <img class="profile-user-img img-fluid img-circle "
                                        src="{{url_for('static', filename='uploads/')}}{{resident.profile_photo}}"
                                        alt="User profile picture"></a>
                        </div>

                        <h3 class="profile-username text-center">{{resident.name}}</h3>

                        <p class="text-muted text-center">{{age}} years old</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Admission Date</b> <a class="float-right">{{resident.admission_date.strftime('%d %B,
                                    %Y')}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Type</b> <a class="float-right">{{resident.resident_type}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Contact</b> <a class="float-right">{{resident.care_address}}</a>
                            </li>

                            <div class="row">
                                <div class="col-sm-6"><a
                                        href="{{url_for('static', filename='uploads/pdf/')}}{{resident.care_plan}}"
                                        class="btn-link text-secondary" download><i
                                            class="far fa-fw fa-file-pdf"></i> Care
                                        Plan</a>
                                </div>
                                <div class="col-sm-6">
                                    {%if user.role.name=='Senior Carer' or user.is_administrator()%}
                                    <form action="{{url_for('.change_care_plan', resident_id =resident.id)}}"
                                        method="POST" id="pdfForm" enctype="multipart/form-data">
                                        <input type="file" name="new_pdf" id="new_pdf"
                                            onchange="document.getElementById('pdfForm').submit()" accept=".pdf" hidden>
                                    </form>
                                    <a href="#" title="Upload Care Plan" class="float-right"
                                        onclick="document.getElementById('new_pdf').click()">Upload <i
                                            class="fas fa-fw fa-file-pdf"></i></a>
                                </div>
                                {%endif%}
                            </div>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- Next of Kin Box -->
                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                                    class="fas fa-expand"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                        <!-- /.card-tools -->
                        <h3 class="card-title">Next of Kin</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-user mr-1"></i> Name</strong>

                        <p class="text-muted">
                            {{resident.nok_name}} </p>

                        <hr>

                        <strong><i class="fas fa-mobile mr-1"></i> Phone</strong>

                        <p class="text-muted">
                            {{resident.nok_phone}}
                        </p>

                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Email</strong>

                        <p class="text-muted">{{resident.nok_email}}</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#about" data-toggle="tab">About Me</a>
                            </li>
                            {% if user.role.name not in ['Maintenance Staff', 'Cleaning Staff', 'Laundry Staff']%}
                            <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Activity</a>
                            </li>
                            {%endif%}
                            {% if user.role.name=='Laundry Staff' or user.is_administrator()%}
                            <li class="nav-item"><a class="nav-link" href="#laundry" data-toggle="tab">Laundry</a>
                            </li>
                            {%endif%}
                            {% if user.role.name=='Senior Carer' or user.is_administrator()%}
                            <li class="nav-item"><a class="nav-link" href="#medication" data-toggle="tab">Medication</a>
                            </li>
                            {%endif%}
                        </ul>
                    </div><!-- /.card-header -->
                    {% for message in get_flashed_messages() %}
                    {% if error %}
                    <div class="alert alert-danger  justify-content-center">
                        {% else %}
                        <div class="alert alert-info  justify-content-center">
                            {% endif %}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message|safe }}
                        </div>
                        {%endfor%}
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="about">

                                    <div class="card-body">
                                        <strong><i class="fas fa-user mr-1"></i> Marital
                                            Status/Ethnicity/Gender</strong>

                                        <p class="text-muted">
                                            {{resident.marital_status~" "~resident.ethnicity~ " "~resident.gender}} </p>

                                        <hr>

                                        <strong><i class="fas fa-book mr-1"></i> Biography</strong>

                                        <p class="text-muted">
                                            {{resident.biography}}
                                        </p>

                                        <hr>
                                        <strong><i class="far fa-file-alt mr-1"></i> Abilities</strong>

                                        <p class="text-muted">{{resident.abilities}}</p>

                                        <hr>

                                        <strong><i class="fas fa-file-alt mr-1"></i> Medical Conditions</strong>

                                        <p class="text-muted">{{resident.medical_condition}}</p>

                                        <hr>

                                        <strong><i class="far fa-file-alt mr-1"></i> Diet</strong>

                                        <p class="text-muted">{{resident.diet}}</p>
                                        <hr>

                                        <strong><i class="fas fa-file-alt mr-1"></i> Allergies</strong>

                                        <p class="text-muted">{{resident.allergies}}</p>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <div class="tab-pane" id="activity">
                                    {%if groups.count()==0 %}
                                    <h1>No Activity Group Created</h1>
                                    {%else%}
                                    {% for group in groups%}
                                    <a href="{{url_for('.timeline', resident_id =resident.id, group_id=group.id)}}">
                                        <button class="btn btn-lg btn-default" style="margin: 10px;"><i
                                                class="fa fa-user"></i>
                                            {{group.group_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{group.time}}</button></a>
                                    {%endfor%}
                                    {%endif%}
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane row" id="laundry">

                                    <div class="col-md-8 offset-md-2">
                                        <form action="{{url_for('.view_resident_profile', resident_id=resident.id)}}"
                                            method="post">
                                            <label for="inputName">Add Laundry Info</label>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <textarea class="form-control" name="laundry_info"
                                                        placeholder="Add Laundry Info"
                                                        rows="3">{{resident.laundry_info}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane row" id="medication">
                                    <div class="col-sm-8 offset-sm-2">
                                        <a href="{{url_for('.medication_history', resident_id=resident.id)}}"
                                            class="float-right" style="text-decoration: underline;">Medication
                                            History</a>
                                        <br>
                                        <form action="{{url_for('.view_resident_profile', resident_id=resident.id)}}"
                                            method="post">
                                            <label for="inputName" class="col-sm-3 col-form-label">Complaint</label>
                                            <div class="form-group">
                                                <textarea type="text" class="form-control" rows="3"
                                                    placeholder="complaint" name="complaint"></textarea>
                                            </div>
                                            <label for="inputName" class="col-sm-3 col-form-label">Medication
                                                Given</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="inputName"
                                                    placeholder="Name" name="med_name">
                                            </div>
                                            <label for="inputEmail" class="col-sm-3 col-form-label">Dosage</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="inputEmail"
                                                    placeholder="dosage" name="med_dosage">
                                            </div>
                                            <!-- /.form group -->
                                            <label>Date and time given:</label>
                                            <!-- Date and time range -->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-clock"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control float-right"
                                                        id="reservationtime" name="time_given">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group float-right">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
</section>

{%endblock%}
{%block js %}
<!-- Bootstrap 4 -->
<script src="{{url_for('static' , filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static' , filename='dist/js/adminlte.min.js')}}"></script>
<script>
    $(function () {

        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        })
    })
</script>
{%endblock%}