{% extends 'admin_base.html'%}
{% import "macros.html" as macros %}
{%block title%} Admin- {{title}} {%endblock%}
{%block css %}
<!-- Theme style -->
<link rel="stylesheet" href="{{url_for('static' , filename='dist/css/adminlte.min.css')}}">
<!-- Select2 -->
<link rel="stylesheet" href="{{url_for('static', filename='plugins/select2/css/select2.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{%endblock%}
<!-- Main content -->

{%block main_content %}

<!-- Main content -->

<section class="content">
    <!-- Default box -->
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Kitchen Items
            </h3>
        </div>
        <div class="card-body">


            {% for message in get_flashed_messages() %}
            {% if error %}
            <div class="alert alert-danger  justify-content-center">
                {% else %}
                <div class="alert alert-info  justify-content-center">
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|safe }}
                </div>
                {%endfor%}

                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel"
                        aria-labelledby="custom-content-above-home-tab">
                        <button type="button" class="btn btn-success float-right" data-toggle="modal"
                            data-target="#create-item">Add Item</button>

                        <br>
                        <br>
                        {%if items.count()==0 %}
                        <h1 class="row justify-content-center">No Items Created</h1>
                        {%else%}
                        <div class="table-responsive">
                            <table id="table1" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Safe Quantity</th>
                                    <th>Location</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <form action="{{url_for('.trash')}}" id="messages-form">
                                        {% for item in items%}
                                        <tr>
                                            <td class="mailbox-name">{{item.item}}
                                            </td>
                                            <td class="mailbox-name">{{item.quantity_left}}
                                            </td>
                                            <td class="mailbox-name">{{item.safe_quantity}}
                                            </td>
                                            <td class="mailbox-name">{{item.location}}
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-sm btn-info" href="#" data-toggle="modal"
                                                data-target="#edit-item"
                                                data-item_name="{{item.item}}"
                                                data-item_id="{{item.id}}"
                                                data-quantity="{{item.quantity_left}}"
                                                data-safe_quantity="{{item.safe_quantity}}"
                                                data-location="{{item.location}}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>
                                            <a class="btn btn-sm btn-danger" href="#"
                                                data-toggle="modal" data-item_name="{{item.item}}"
                                                data-item_id="{{item.id}}" data-target="#delete-item">
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </form>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        {%endif%}
                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
</section>
<!-- /.content -->

<div class="modal fade" id="create-item">
    <div class="modal-dialog">
        <div class="modal-content bg-default">
            <div class="modal-header">
                <h4 class="modal-title">Create Kitchen Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Enter item details.</p>
                <form action="{{url_for('.kitchen')}}" method="post" id="activityForm">
                    <label for="new_item">Item Name</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="new_item" placeholder="Item Name" id="na"
                                minlength="2" required>
                        </div>
                    </div>
                    <label for="quantity">Available Quantity</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="number" class="form-control" name="quantity" placeholder="Available Quantity"
                                id="na" min="0" value="0.00" step=".01" required>
                        </div>
                    </div>
                    <label for="ideal_quantity">Safe Quantity</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="number" class="form-control" name="ideal_quantity" placeholder="Safe Quantity"
                                id="na" min="0" value="0.00" step=".01" required>
                        </div>
                    </div>
                    <label for="location">Item Location</label>\
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="location" placeholder="location" id="na"
                                required>
                        </div>
                    </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-success" value="Save">
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="edit-item">
    <div class="modal-dialog">
        <div class="modal-content bg-default">
            <div class="modal-header">
                <h4 class="modal-title">Edit Kitchen Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Change item details.</p>
                <form action="{{url_for('.kitchen')}}" method="post" id="editActivityForm">
                    <label for="new_item">Item Name</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="edit_item_name" placeholder="Item Name" id="na"
                                minlength="2" required>
                        </div>
                    </div>
                    <label for="quantity">Available Quantity</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="number" class="form-control" name="quantity" placeholder="Available Quantity"
                                id="na" min="0" value="0.00" step=".01" required>
                        </div>
                    </div>
                    <label for="ideal_quantity">Safe Quantity</label>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="number" class="form-control" name="ideal_quantity" placeholder="Safe Quantity"
                                id="na" min="0" value="0.00" step=".01" required>
                        </div>
                    </div>
                    <label for="location">Item Location</label>\
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="location" placeholder="location" id="na"
                                required>
                        </div>
                    </div>
                    <input type="text" name="item_id" hidden>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-success" value="Save">
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- /.modal -->

<div class="modal fade" id="delete-item">
    <div class="modal-dialog">
        <div class="modal-content bg-default">
            <div class="modal-header">
                <h4 class="modal-title">Delete Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <form action="{{url_for('.kitchen')}}" method="post" name="deleteItemForm">
                <div class="modal-body">
                    <p>Are you sure you want to delete <b id="named_item"></b>?</p>
                    <input type="text" name="delete_item_id" hidden>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{%endblock%}
{%block js %}
<!-- Bootstrap 4 -->
<script src="{{url_for('static' , filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static' , filename='dist/js/adminlte.min.js')}}"></script>

<!-- Select2 -->
<script src="{{url_for('static' , filename='plugins/select2/js/select2.full.min.js')}}"></script>
<script>
    $(function () {

        $('#edit-item').on('show.bs.modal', function (e) {
            var itemName = $(e.relatedTarget).data('item_name')
            var quantity = $(e.relatedTarget).data('quantity')
            var safe_quantity = $(e.relatedTarget).data('safe_quantity')
            var location = $(e.relatedTarget).data('location')
            var itemid = $(e.relatedTarget).data('item_id')
            $(e.currentTarget).find('input[name="edit_item_name"]').val(itemName)
            $(e.currentTarget).find('input[name="quantity"]').val(quantity)
            $(e.currentTarget).find('input[name="ideal_quantity"]').val(safe_quantity)
            $(e.currentTarget).find('input[name="location"]').val(location)
            $(e.currentTarget).find('input[name="item_id"]').val(itemid)
        })
        $('#delete-item').on('show.bs.modal', function (e) {
            var itemid = $(e.relatedTarget).data('item_id')
            var itemName = $(e.relatedTarget).data('item_name')

            $(e.currentTarget).find('#named_item').text(itemName)
            $(e.currentTarget).find('input[name="delete_item_id"]').val(itemid)
        })


    })     
</script>
{%endblock%}